body {
  background-color: $purple-dark;
}

.navBarHeader {
  &_logo {
    filter: brightness(9);
  }
  &_ethPrice {
    color: $white;
  }
}

.mainBox {
  background-color: $white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 10px 8px 17px -7px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 10px 8px 17px -7px rgb(0 0 0 / 75%);
  -moz-box-shadow: 10px 8px 17px -7px rgba(0, 0, 0, 0.75);
}

.blockBox {
    padding: 10px;
    color: $white;
    background-color: $purple-light;
    border-radius: 5px;
    margin-bottom: 5px;
    &__link {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      :hover {
        color: #fff;
      }
    }
}

.maxHeightBox {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}